/* ##### Fonts : Poppins ##### */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* ##### Reset ##### */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(23, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

h2, h4, p {
  text-align: center;
}

/* ##### Card style ##### */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 3px 5px 15px -2px #000; 
  box-shadow: 3px 5px 15px -2px #000;
  transition: 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card .bg-content {
  background-color: #fff;
} 

.card .card-img {
  width: 100%;
  height: 180px;
  background-position: center;
  object-fit: cover;
}

h4 {
  font-size: 20px;
  margin-top: 7px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: -3px;
}

p {
  margin: 5px 0 15px 0;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
}

.skyline {
  color: rgb(107, 102, 102);
}

.card-stats_wrapper.skyline {
  background-color: rgb(107, 102, 102);
}

.honda {
  color: #C8102E;
}

.card-stats_wrapper.honda {
  background-color: #C8102E;
}

.mazda {
  color: rgb(214, 46, 28);
}

/* ##### Card value style ##### */
.card-stats_wrapper.mazda {
  background-color: rgb(214, 46, 28);
}

.card-stats_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.card .card-stats {
  padding: 15px;
}

.card .card-stats .stat {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

.card .card-stats .stat:last-child {
  margin-top: -4px;
  font-weight: 500;
  font-size: 17px;
}

/* ##### Card style responsive ##### */
@media screen and (max-width: 1024px) {
  .card {
    margin: 30 15px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 20px 15px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    margin: 20px 15px;
  }
}
